.lifeConteneur{
    width: 400px;
    height: 25px;
    background-color:blue;
}

.lifeConteneurFighter{
    width: 400px;
    height: 25px;
    background-color:blue;
}
.restLife{
    width: 30%;
    height: 100%;
    background-color:red;
}
.restLifeFighter{
    width: 30%;
    height: 100%;
    background-color:red;
}
.displayNone{
    display: none;
}
.queenPretender{
    background-color: grey;
}

.fighter{
    background-color: grey;
}

.imageFighter{
    width: 150px;
    height:150px;
    display: block;
    margin: auto;
}