.lifeConteneur{
    width: 300px;
    height: 25px;
    background-color:blue;
    
}

.lifeConteneurFighter{
    width: 300px;
    height: 25px;
    background-color:blue;
}
.restLife{
    width: 30%;
    height: 100%;
    background-color:red;
}
.restLifeFighter{
    width: 30%;
    height: 100%;
    background-color:red;
}
.displayNone{
    display: none;
}
.queenPretender{
  background : linear-gradient(#764B0D, #C1B484);
  /* background-color:#775A03; */
  border: solid 12px #E8C849;
  border-radius: 30px;
  width: 300px;
  height: 400px;
}
.lowDivFighter{
    background: linear-gradient(#7EA5AA, #94C7CD);
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    height: 250px;
    position: absolute;
    width: 300px;
}
.lowDiv{
  background : linear-gradient(#B59772, #C2B484 );

  /* background-color: #88B4B9; */
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  height: 250px;
  position: absolute;
  width: 300px;

}
.fighter{
    background:linear-gradient(#224A4D, #2D5F67);
    border: solid 12px#4C9CAF;
    width: 300px;
    height: 400px;
    background-color:;
    border-radius: 30px;
}
h2{
  color: black;
}

.imageFighter{
    width: 150px;
    height:150px;
    display: block;
    margin: auto;
}
button{
    border-radius: 8px;
    background-color: black;
    color:white;
    width: 90px;
    height: 45px;
    position: relative;
    top: -15px;
    font-size: 50%;
    margin-right: 5px;

}

.containerCarte {
    
    display: flex;
    flex-direction: row;
   vertical-align: center;
   width: 60%;
   justify-content: space-between;
}

@media screen and (max-width: 1270px) {
    .containerCarte {
        flex-direction: column;
    }
}


