
{% extends "layout.html.twig" %}

{% block content %}
    <form action="" method="POST">
        <div>
            <label for="name">Name attack</label>
            <input type="text" name="name" id="name" >
        </div>
        <div>
            <label for="sound">Sound attack</label>
            <input type="text" name="sound" id="sound" >
        </div>
        <div>
            <button type="submit">envoyer</button>
        </div>

    </form>
{% endblock %}