.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-image: url('https://ressources.blogdumoderateur.com/2014/10/halloween-1-600x338.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-header h1 {
  color: orangered;
}

.App-header h2 {
  color: orange;
}