@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');

h1 {
  font-family: 'Creepster', cursive;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-image: url('https://ressources.blogdumoderateur.com/2014/10/halloween-1-600x338.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-header h1 {
  color: orangered;
}
.appHeaderH2 {
  color: orange;
}